* {
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

h1, h2 {
    font-weight: 300;
    
    text-align: center;
    letter-spacing: 0.2em;
    padding: 40px;
    /* word-spacing: 50px; */
}

/* Header */
header {
    text-align: center;
    border: 2px solid rgb(6, 15, 10);
    border-radius: 7px;
    padding: 5px;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 99%;
    min-width: 50px;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.486);
    background-color: rgb(222, 72, 58);
}

/* navigation bar */
nav ul li a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
}
  
nav ul li a:hover {
    border-radius: 10px;
    background-color: brown;
}

nav ul li {
    display: inline-block;
    padding: 10px;
}

nav ul {
    text-align: center;
}

/* drop down nav */
.dropdown {
position: relative;
}

.content {
    display: none;
    position: absolute;
    padding-left: 0;
    top: 40px;
}

.dropdown:hover .content {
    display: block;
}

.content li a {
    padding: 0;
}

.my-button {
    text-decoration: none;
    font-size: 30px;
}

/* main */

.main {
    text-align: center;
    border: 2px solid rgb(6, 15, 10);
    border-radius: 5px;
    padding: 5px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 10%;
    width: 95%;
    min-width: 50px;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.486);
    background-color: rgb(220, 238, 220);
  }